.controls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;

    .toggle-visible-button {
        background-color: #333;
        border: none;
        border-radius: 0px 8px 0 0;
        
        .arrow-icon {
            height: 16px;
            width: fit-content;
            padding: 8px;
            padding-bottom: 0;
            transition: all .5s;
        }

        .rotate-arrow {
            transform: rotateX(180deg);
            padding-bottom: 8px;
            padding-top: 0;
        }
    }

    .controls-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        padding: 32px;
        background-color: #333;
        color: #CCCCCC;
        text-align: center;
        box-sizing: border-box;

        section {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 1.5rem;
                padding-bottom: 4px;
                border-bottom: 1px solid #CCCCCC;
            }
        }

        .play-back-buttons {
            display: flex;
            flex-direction: column;

            button {
                margin-bottom: 16px;
            }
        }

        .color-buttons {
            display: flex;
            align-items: space;
            justify-content: space-between;

            & > button {
                height: 24px;
                width: 24px;
                margin: 0 8px;
                border: none;
                border-radius: 100px;
                cursor: pointer;
            }

            .selected-color {
                border: 1px solid white;
                transform: scale(.75);
            }

            .red-button {
                background-color: red;
            }

            .green-button {
                background-color: green;
            }

            .blue-button {
                background-color: blue;
            }

            .yellow-button {
                background-color: yellow;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;

        .inputs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            gap: 8px;
            margin-bottom: 8px;
        }
    }

    input {
        background-color: #EEEEEE;
        padding: 8px;
        border: none;
        border-radius: 4px;
    }

    .button {
        min-width: 150px;
        width: 100%;
        background-color: white;
        color: black;
        padding: 12px;
        border: none;
        border-radius: 64px;
        box-shadow: 8px 8px 8px rgba(black, .3);
        transition: all .3s;
    
        &:hover {
            transform: translateY(-4px);
        }
    
        &:active {
            transform: translateY(4px);
        }
    }
}